.fa-plus {
  padding: 24px;
  color: $color-blue-accent;
  font-size: 2rem;
}

.fa-pencil {
  color: $color-blue-accent;
}

.fa-trash-can {
  color: $color-red-accent;
}

.fa-angle-left {
  padding: 24px;
  color: $color-red-accent;
  font-size: 2rem;
}

.fa-save {
  padding: 24px;
  color: $color-blue-accent;
  font-size: 2rem;
}