.productsList {
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  gap: 20px;
}
.product {
  background-color: $color-box-background;
  display: flex;
  justify-content: space-between;
  flex-grow: 1;
  padding: 10px;
  width: auto;
  max-width: 500px;
  gap: 30px;
  border-radius: 5px;
  border: 1px solid $color-blue-accent;
}

.productCategory {
  font-size: 1rem;
  color: $color-blue-accent;
}

.button {
  border: none;
  background: none;
  font-size: 1.3rem;
}
.productButtons {
  display: flex;
  gap: 10px;
  font-size: 1rem;
}

.productsForm {
  margin: 20px auto;
  background-color: $color-box-background;
  display: flex;
  padding: 10px;
  max-width: 360px;
  border-radius: 5px;
  border: 1px solid $color-blue-accent;
}

.newProductButton {}

#newProductName, #newProductCategory, #newListName {
  background-color: $color-background;
  border: 1px solid $color-blue-accent;
  border-radius: 5px;
  font-family: Ubuntu, cursive;
  height: 1.5rem;
  font-size: 1.2rem;
  //margin: 5px;
  padding: 5px;
  //max-width: 250px;
  width: 100%;
}
#newProductName {
  margin-bottom: 10px;
}
.productSelect {
  background-color: $color-background;
  font-size: 1.2rem;
  padding: 5px;
  color: $color-blue-accent;
  border-radius: 5px;
  width: 100%;
}