.menu {
  margin: 50px;
}

.mainButton {
  background-color: $color-box-background;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: 1px solid $color-blue-accent;
  width: 150px;
  text-align: center;
}